<header role="banner" class="mar-t-5 pad-t-2 pad-b-4 pad-s-1 wrap-float bg-white">
  <div class="max-w-700 center wrap-float">
    <nav class="clearfix mar-b-1">
      <ul class="no-bullets no-margin no-padding right">
        <li class="pipe-separate t-light-green left"><a href="/register">register</a></li>
        <li class="pipe-separate t-light-green left"><a href="/login">login</a></li>
        <li class="pipe-separate t-light-green left"><a href="/">home</a></li>
      </ul>
    </nav>

    <div class="logo-container">
      <img class="logo" src="/images/logo.png" class="center block">
      <h1>Broccoli Blog</h1>
    </div>
  </div>
</header>
<a href="/entries/new" class="block button w-100 mar-t-2 mar-b-3 pad-2 round-1 text-c center">Write about Broccoli</a>

<main role="main">
  <ul class="entries-list no-bullets no-padding">
    {{#each entries}}
    <li class="entry-item pad-b-4">
      <a href="/entries/{{id}}" class="entry-title font-2 pad-b-1-4 c-white">{{title}}</a>
      <span class="entry-date block font-3-4 c-lt-gray">Written on {{this.createdAt}}</span>
      <p class="entry-stub">{{body}}</p>
    </li>
    {{/each}}
  </ul>
</main>