<header role="banner" class="mar-t-5 pad-t-2 pad-b-4 pad-s-1 wrap-float bg-white">
  <div class="max-w-700 center wrap-float">
    <nav class="clearfix mar-b-1">
      <ul class="no-bullets no-margin no-padding right">
        <li class="pipe-separate t-light-green left"><a href="/register">register</a></li>
        <li class="pipe-separate t-light-green left"><a href="/login">login</a></li>
        <li class="pipe-separate t-light-green left"><a href="/">home</a></li>
      </ul>
    </nav>

    <div class="logo-container">
      <img class="logo" src="/images/logo.png" class="center block">
      <h1>Broccoli Blog</h1>
    </div>
  </div>
</header>
<br>
<div style="border: 1px solid black; padding: 10px">
<form style="color:black">
    <input type="text" placeholder="type your username" name="username"><br><br>
    <input type="password" placeholder="type your password" name="password"><br><br>
    <button>login</button>
</form>
</div>
<div id="inner"></div>
<script src="/js/login.js"></script>